<div class="section">
  Switch 1:
  <a class="switch_btn" href="/command/1">ON</a>
  <a class="switch_btn" href="/command/2">OFF</a>
</div>

<div class="section">
  Switch 2:
  <a class="switch_btn" href="/command/3">ON</a>
  <a class="switch_btn" href="/command/4">OFF</a>
</div>

<div class="section">
  <a class="switch_btn" href="/command/a">ALL ON</a>
  <a class="switch_btn" href="/command/x">ALL OFF</a>
</div>
