<div>
  Switch 1:
  <a href="/command/1">ON</a>
  <a href="/command/2">OFF</a>
</div>

<div>
  Switch 2:
  <a href="/command/3">ON</a>
  <a href="/command/4">OFF</a>
</div>

<div>
  <a href="/command/a">ALL ON</a>
  <a href="/command/x">ALL OFF</a>
</div>
